/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* 
body{
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  
}
.parent
{
  font-size: 24px;
} */

/* .countup{
  font-size: 30px;
  color:green;
  margin-top:20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
} */
/* img{
  width: 400px;
  height: 200px;
  margin-top: 20px;
} */
/* .Queryparent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.Queryinfo{
  
  background-color: rgba(255, 255, 255, 0.727);
  box-shadow: 1px 1px 3px gray;
  padding:20px;
  width:300px;
  height:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap:10px;
}
body{
  background-color: #f5f5f5;
  height: 100svh;
  width: 100svw;
  overflow-x: hidden;
}
.iconimage{
  width: 50px;
  height: 50px;
}
.charts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
#donut-chart{
  width:900px;
  height: 500px;
  margin-left: 100px;
  margin-top: 100px;
}
#combo-chart{
  width:750px;
  margin-top: 100px;
  margin-right: 100px;
}
#combo-chart2{
  width:750px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 20px;
}
.btns{
  color:white;
  font-size: 15px;
  background-color: green;
  border:none;
  border-radius: 7px;
  padding:8px;
}
.task-header {
   position: sticky;
   top: 0; 
   height: 60px;
   font-size: 26px;
   display: flex;
   gap: 26px;
   padding: 20px;
   background-color: rgb(11, 130, 139);
   width: 100%;
   justify-content: center;
   align-items: center;
   z-index: 1;
   margin-bottom: 30px;
   gap:900px;
   left: 0;
}
.heading{
  color:white;
}
table {
  width: 65%;
  border-collapse: collapse;
  margin: 10px auto;
  margin-right: 100px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: ghostwhite;
  padding: 10px;
  font-size: 18px;
}
td{
  text-align: center;
}
th {
  background-color: rgb(11, 130, 139);
  color: white;
}
tr:hover {
  background-color: rgba(211, 211, 211, 0.571);
}
.last-div{
  margin-bottom: 50px;
  display: flex;
} */

body{
  background-color: black;
}